@import "../../styles/colors.scss";

.inputWrap {
  margin-top: 16px;
  display: flex;
  position: relative;
  align-items: center;

  input[type="password"],
  input[type="text"],
  input[type="email"] {
    border: 1px solid $primaryLight;
    line-height: 40px;
    border-radius: 4px;
    padding: 0px 40px 0px 8px;

    &:focus {
      outline-color: $primaryLight;
    }
  }

  input {
    flex-grow: 1;
  }

  .status {
    position: absolute;
    right: 8px;
    font-size: 12px;
    cursor: help;
  }
}
